Information and services
Visa and Emirates ID
Residence visas
Residence visa for family members
Both, employers and employees with valid UAE residence visas can sponsor residence visas for their families. Unlike before, employees can sponsor their families regardless of their job titles if they earn a minimum salary of AED 4,000 or AED 3,000 plus accommodation. Clearing medical fitness examination applies to all those who have completed the age of 18.
Both, employers and employees with valid UAE residence visas can sponsor residence visas for their families. Unlike before, employees can sponsor their families regardless of their job titles if they earn a minimum salary of AED 4,000 or AED 3,000 plus accommodation. Clearing medical fitness examination applies to all those who have completed the age of 18.
Both, employers and employees with valid UAE residence visas can sponsor residence visas for their families. Unlike before, employees can sponsor their families regardless of their job titles if they earn a minimum salary of AED 4,000 or AED 3,000 plus accommodation. Clearing medical fitness examination applies to all those who have completed the age of 18.
Sponsorship requirements
Sponsoring your wife and children
Sponsoring your parents
Residence visa for a UAE citizen spouse parent and child
Sponsorship requirements
Expatriate residents can sponsor their families to reside in the UAE if they have a valid residence permit/visa.
Expatriate residents can sponsor their families to reside in the UAE if they have a valid residence permit/visa.
sponsor


The sponsor must have a minimum salary of AED 4,000 or AED 3,000 plus accommodation.
The sponsor must have a minimum salary of AED 4,000 or AED 3,000 plus accommodation.
Male and female family members who are to be sponsored and who have completed the age of 18 need to undergo and pass medical fitness tests at approved health centres (PDF, 1 MB) in the UAE.
Male and female family members who are to be sponsored and who have completed the age of 18 need to undergo and pass medical fitness tests at approved health centres (PDF, 1 MB) in the UAE.
approved health centres


Notes:
Notes:
A mother can sponsor her children in special cases approved by the ICP.
A resident sponsor has 60 days to apply for his dependents’ residence visa after they enter the UAE under an entry permit.
A resident can sponsor his parents, and the residence visa will be granted on a yearly basis regardless of the duration of the sponsor’s visa.
The type of profession is no longer a condition for an expatriate worker to be able to sponsor his family visas.
type of profession is no longer a condition
Medically unfit people will not be granted a residence visa.
Residents who are detected with dormant or inactive pulmonary tuberculosis are also considered medically fit and are granted a one-year ‘Health Fitness Certificate for Residence’ subject to treatment and follow-up by the respective health authority.


The conditions are subject to change from time to time. Kindly check with Federal Authority for Identity and Citizenship (ICP) or GDRFA.
The conditions are subject to change from time to time. Kindly check with Federal Authority for Identity and Citizenship (ICP) or GDRFA.
Federal Authority for Identity and Citizenship
GDRFA


Locate government medical fitness centres of:
Locate government medical fitness centres of:
Locate government medical fitness centres of:
Disease Prevention & Screening Center - Abu Dhabi
Disease Prevention & Screening Center - Abu Dhabi
Dubai Health Authority
Dubai Health Authority
Emirates Health Services


Useful links:
Useful links:
Useful links:
Health conditions for a UAE residence visa - UAE Government portal
Health conditions for a UAE residence visa
Resolution No. 5 of 2016 amending provisions of the Cabinet Decree No. 7 of 2008
Resolution No. 5 of 2016 amending provisions of the Cabinet Decree No. 7 of 2008
Communicable Diseases Bulletin (PDF, 2.65 MB) - Department of Health – Abu Dhabi
Communicable Diseases Bulletin


Sponsoring your wife and children
An expatriate resident may sponsor the residence visa for his wife and children if he fulfils the above mentioned sponsorship requirements.
An expatriate resident may sponsor the residence visa for his wife and children if he fulfils the above mentioned sponsorship requirements.


To sponsor the wife, the expatriate resident must prove an existing marital relationship by submitting an attested marriage certificate in Arabic or duly translated into Arabic by a certified translator.
To sponsor the wife, the expatriate resident must prove an existing marital relationship by submitting an attested marriage certificate in Arabic or duly translated into Arabic by a certified translator.


Sponsoring two wives
Sponsoring two wives
Sponsoring two wives
In strict cases, a Muslim resident may be allowed to sponsor his two wives, if he meets certain terms and conditions set by ICP.
In strict cases, a Muslim resident may be allowed to sponsor his two wives, if he meets certain terms and conditions set by ICP.
Sponsoring daughters
Sponsoring daughters
Sponsoring daughters
An expatriate resident can sponsor his daughter/s only if she/they is/are unmarried, with no restrictions with regard to her/their age/s.
An expatriate resident can sponsor his daughter/s only if she/they is/are unmarried, with no restrictions with regard to her/their age/s.


Sponsoring sons
Sponsoring sons
Sponsoring sons
A male or female resident can sponsor his/her son/s until he is 25. Sons of determination (those with special needs) can be sponsored with no restrictions with regard to his/ their age/s.
A male or female resident can sponsor his/her son/s until he is 25. Sons of determination (those with special needs) can be sponsored with no restrictions with regard to his/ their age/s.


Sponsoring newborns
Sponsoring newborns
Sponsoring newborns
For babies born in the UAE, a residence visa must be applied for, within 120 days of its birth to avoid getting fines.
For babies born in the UAE, a residence visa must be applied for, within 120 days of its birth to avoid getting fines.


Sponsoring stepchildren
Sponsoring stepchildren
Sponsoring stepchildren
An expatriate resident can sponsor his stepchildren, subject to GDRFA’s conditions which include a deposit for each child and a written no-objection certificate from the biological parent. Their residence visas are valid for one year; renewable annually.
An expatriate resident can sponsor his stepchildren, subject to GDRFA’s conditions which include a deposit for each child and a written no-objection certificate from the biological parent. Their residence visas are valid for one year; renewable annually.


Documents required to sponsor wife and children include:
Documents required to sponsor wife and children include
Documents required to sponsor wife and children include
:
application form - either online or through a registered typing office
passport copies of the wife and children
photos of the wife and children
medical clearance certificate of the wife and children above 18 years
copy of the husband's employment contract or company contract
salary certificate from the employer stating the husband’s monthly salary
attested marriage certificate
registered tenancy contract.


Cancellation
Cancellation
Cancellation
The family's residence permits are linked to the residence permit of the sponsoring family member . If the sponsoring family member's visa is cancelled, it requires cancellation of the visas of the dependents.
The family's residence permits are linked to the residence permit of the sponsoring family member . If the sponsoring family member's visa is cancelled, it requires cancellation of the visas of the dependents.


Dependents are granted a 6-month grace period from the date of expiry or cancellation of their visas to obtain a new residence permit. If the sponsor fails to renew or cancel the visa of his dependents, he could be liable to pay a fine.
Dependents are granted a 6-month grace period from the date of expiry or cancellation of their visas to obtain a new residence permit. If the sponsor fails to renew or cancel the visa of his dependents, he could be liable to pay a fine.
Sponsoring your parents
An expatriate employee can sponsor his parents for a year's stay by paying a deposit as a guarantee for each parent as stipulated by the respective immigration department.
An expatriate employee can sponsor his parents for a year's stay by paying a deposit as a guarantee for each parent as stipulated by the respective immigration department.


An expatriate employee cannot sponsor only one of his parents. He needs to sponsor both parents together. He also needs to provide proof that he is their sole support and that there is no one to take care of them back home.
An expatriate employee cannot sponsor only one of his parents. He needs to sponsor both parents together. He also needs to provide proof that he is their sole support and that there is no one to take care of them back home.


If one of the parents has passed away or if the parents are divorced, related official documents would be needed as justification to sponsor only one of the parents.
If one of the parents has passed away or if the parents are divorced, related official documents would be needed as justification to sponsor only one of the parents.


To sponsor parents, the employed expatriate resident must earn the minimum salary stipulated and obtain a medical insurance policy for parents with the minimum coverage stipulated for each, to be renewed each year.
To sponsor parents, the employed expatriate resident must earn the minimum salary stipulated and obtain a medical insurance policy for parents with the minimum coverage stipulated for each, to be renewed each year.


According to the Amer website, DNRD in Dubai stipulates a minimum salary of AED 20,000 to sponsor parents’ visa.
According to the Amer website, DNRD in Dubai stipulates a minimum salary of AED 20,000 to sponsor parents’ visa.
Amer website
sponsor parents’ visa


Residence visa for a UAE citizen spouse parent and child
A UAE citizen’s spouse, parent or child, who holds a foreign passport, can get a UAE residence visa for 5 years without having to work in the UAE. In this case, the sponsor shall be the UAE citizen.
A UAE citizen’s spouse, parent or child, who holds a foreign passport, can get a UAE residence visa for 5 years without having to work in the UAE. In this case, the sponsor shall be the UAE citizen.


A foreign widow or divorced woman, who is a mother of a UAE citizen, can get a residence visa without having to work in the UAE. In this case, the sponsor shall be the oldest child.
A foreign widow or divorced woman, who is a mother of a UAE citizen, can get a residence visa without having to work in the UAE. In this case, the sponsor shall be the oldest child.


Source: The Executive Regulation of the Law No. 29 of 2021 on Entry and Residence of Foreigners (PDF, 500 KB).
Source: The Executive Regulation of the Law No. 29 of 2021 on Entry and Residence of Foreigners (PDF, 500 KB).
The Executive Regulation of the Law No. 29 of 2021 on Entry and Residence of Foreigners
Was this information helpful?
Give us your feedback so we can improve your experience.










Thank you for submitting your feedback.